<article class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive" src="{{photo.url}}" />
                </div>

            </div>
        </div>
        <div class="panel-footer text-center">
            <span class="text-center btn-lg">
                <i (click)="like()" id="like1" class="glyphicon glyphicon-thumbs-up  btn-lg"></i> <div id="like1-bs3"></div>
                <i (click)="dislike()" id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
            </span>
        </div>
    </div>
</article>
