<p *ngIf="chatroom != undefined">
  chatroom {{chatroom.name}}
</p>
<div class="container">
    <div class="row panel panel-primary chatheader">
        <template ngFor let-participant [ngForOf]="chatroom.participants" *ngIf="chatroom != undefined">
            <div class="col-md-4">
                <img class="media-object dp img-circle" src="{{participant.avatarUrl}}" style="width: 100px;height:100px;">
                <div class="media-body">
                    <h4 class="media-heading">{{participant.firstName}} <small> {{participant.lastName}}</small></h4>
                </div>
            </div>
        </template>
    </div>
    <div class="row">
        <div>
            <div class="panel panel-primary">
              <app-conversation [currentUserId]="currentUser.id" [chatMessages]="chatroom.messages" *ngIf="chatroom != undefined"></app-conversation>

              <div class="panel-footer">
                  <div class="input-group">
                      <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="messageInput"/>
                      <span class="input-group-btn">
                          <button class="btn btn-warning btn-sm" id="btn-chat" (click)="addMessage($event)" >
                              Send</button>
                      </span>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>             
