<div class="container">
	<div *ngIf="user != undefined">
		<div class="col-md-12 col-lg-offset-1 col-lg-10">
    	 <div class="well profile">
            <div class="row">
                <h4>Welcome, {{user.firstName}}!</h4>
                <p>Now complete your profile to start searching for travel buddies.</p>
            </div>
    	    <div class="row">
                <div class="col-md-6">
                    <label>Name</label>
                    <h2>{{user.firstName}} {{user.lastName}}</h2>    
                </div>
                <div class="col-md-6">
                    <img class="img-rounded" width="100" src="http://keenthemes.com/preview/metronic/theme/assets/pages/media/profile/profile_user.jpg" />
                </div>
    	    </div> 

            <div class="col-md-8 row" style="margin-top:15px;">
                <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                        <label for="inputEmail3" class="col-sm-2 control-label">address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="street &amp; number" [(ngModel)]="user.address" #lastName="ngModel"/>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
                      <label class="col-sm-2">&nbsp;</label>
                      <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail3" placeholder="City"/>
                      </div>
                    </div>
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && ( !zipcode.valid || !country.valid ) }">
                        <label class="col-sm-2">&nbsp;</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="country"/>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-2">&nbsp;</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="zipcode" [(ngModel)]="user.zipcode" #zipcode="ngModel" placeholder="zipcode" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date of Birth</label>                        
                        <div class='input-group date col-sm-8' id='datetimepicker1'>
                            <input type='text' class="form-control" placeholder="22-09-1987" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                        <div class="form-group">
                            <label>Gender</label><br>
                            <input type="radio" name="gender" value="male" checked> Male<br>
                            <input type="radio" name="gender" value="female"> Female<br>
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                </form>
                 </div>
                 <a routerLink="/photoselection" class="btn btn-primary">Find out your interests</a>
    	 </div>            
		</div>
	</div>
</div>



